In [1]:
import pandas as pd
import numpy as np
import matplotlib as plt
import seaborn as sns

In [10]:
from pmdarima import auto_arima
import statsmodels.api as sm
from fbprophet import Prophet

In [ ]:
import statsmodels as

In [3]:
df = pd.read_csv("rul_hrs.csv")

### Discovering the data

In [7]:
df.head()

,Unnamed: 0,timestamp,sensor_00,sensor_01,sensor_02,sensor_03,sensor_04,sensor_05,sensor_06,sensor_07,...,sensor_42,sensor_43,sensor_44,sensor_45,sensor_46,sensor_47,sensor_48,sensor_49,sensor_51,rul
0,0,2018-04-01 00:00:00,2.465394,47.09201,53.2118,46.310760,634.3750,76.45975,13.41146,16.13136,...,31.770832,41.92708,39.641200,65.68287,50.92593,38.194440,157.9861,67.70834,201.3889,285.916667
1,1,2018-04-01 00:01:00,2.465394,47.09201,53.2118,46.310760,634.3750,76.45975,13.41146,16.13136,...,31.770832,41.92708,39.641200,65.68287,50.92593,38.194440,157.9861,67.70834,201.3889,285.900000
2,2,2018-04-01 00:02:00,2.444734,47.35243,53.2118,46.397570,638.8889,73.54598,13.32465,16.03733,...,31.770830,41.66666,39.351852,65.39352,51.21528,38.194443,155.9606,67.12963,203.7037,285.883333
3,3,2018-04-01 00:03:00,2.460474,47.09201,53.1684,46.397568,628.1250,76.98898,13.31742,16.24711,...,31.510420,40.88541,39.062500,64.81481,51.21528,38.194440,155.9606,66.84028,203.1250,285.866667
4,4,2018-04-01 00:04:00,2.445718,47.13541,53.2118,46.397568,636.4583,76.58897,13.35359,16.21094,...,31.510420,41.40625,38.773150,65.10416,51.79398,38.773150,158.2755,66.55093,201.3889,285.850000

In [8]:
df.describe()

,Unnamed: 0,sensor_00,sensor_01,sensor_02,sensor_03,sensor_04,sensor_05,sensor_06,sensor_07,sensor_08,...,sensor_42,sensor_43,sensor_44,sensor_45,sensor_46,sensor_47,sensor_48,sensor_49,sensor_51,rul
count,166441.000000,166441.000000,166441.000000,166441.000000,166441.000000,166441.000000,166441.000000,166441.000000,166441.000000,166441.000000,...,166441.000000,166441.000000,166441.000000,166441.000000,166441.000000,166441.000000,166441.000000,166441.000000,166441.000000,166441.000000
mean,83220.000000,2.348569,47.016965,50.628361,43.337738,577.716084,74.266212,13.097378,15.622506,15.006731,...,35.817003,43.271847,40.335053,41.135466,45.176190,43.245686,122.099804,52.637057,202.055026,288.629396
std,48047.522414,0.447107,3.424241,4.139904,2.584527,161.666372,19.456294,2.304404,2.447046,2.265047,...,11.316712,11.740656,8.555486,10.310476,13.649396,9.088286,63.938166,14.242712,119.694361,225.739648
min,0.000000,0.000000,22.439240,33.159720,31.640620,2.798032,0.000000,0.014468,0.000000,0.028935,...,22.135416,24.479166,25.752316,26.331018,26.331018,27.199070,26.331018,26.620370,27.777779,0.000000
25%,41610.000000,2.404398,45.789930,50.130210,42.361110,624.884300,72.088920,13.288480,15.711810,15.147570,...,32.812500,39.062500,36.168980,36.458330,39.351850,38.773150,73.495370,46.585650,178.240700,99.066667
50%,83220.000000,2.455556,47.612850,51.649300,43.793400,631.712952,77.362460,13.527200,16.131360,15.292240,...,35.416660,42.187500,39.351850,39.351850,43.113430,41.956020,109.953700,50.925926,197.916700,226.250000
75%,124830.000000,2.497859,49.001740,52.951390,44.965275,636.921265,82.405220,13.809320,16.210940,15.617770,...,37.760410,45.833330,43.113430,43.113430,47.743060,46.006940,163.194400,56.134260,210.937500,445.383333
max,166440.000000,2.549016,55.772570,56.032990,48.220490,800.000000,99.999880,22.251160,23.596640,24.348960,...,374.218800,408.593700,290.509200,231.481500,320.891200,220.486100,502.314800,458.622700,1000.000000,837.483333

### Looking for missing values

### Looking for duplicates

### Looking for outliers

### Looking for correlations

### Studying the target value